<div>
  <h2>"<%= customer.nickname %>" さんのページ</h2>
    <p>フォロー：<strong><%= customer.followings.count %></strong></p>
    <p>フォロワー：<strong><%= customer.followers.count %></strong></p>
  <div>
    <!--ログインしているときのみフォロー・フォロワー機能有効-->
    <% if customer_signed_in? %>
      <% if current_customer.following?(customer) %>
        <%= link_to "フォロー中", customer_relationships_path(customer.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post %>
      <% end %>
    <% end %>
  </div>

    <h3>DIYS</h3>
      <div>
        <%= render 'public/diys/diys', diys: @diys %>
      </div>
</div>