<% if request.fullpath == "/customers/sign_in" %>
  <h3>ログイン</h3>
<% else %>
  <h3>管理者ログイン</h3>
<% end %>

<div>
  <%= form_with model: resource, as: resource_name, url:session_path(resource_name), local: true  do |f| %>
  <div>
    <%= f.label :"メールアドレス", class: "email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div>
    <%= f.label :"パスワード", class: "password" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  <% end %>
</div>

<div>
  <% if request.fullpath == "/customers/sign_in" %>
    <p>会員登録がお済でない方</p>
    <p><%= link_to "こちら", new_customer_registration_path %> から新規登録を行って下さい。</p>
  <% end %>
</div>

<div>
  <% if request.fullpath == "/customers/sign_in" %>
  <%= link_to "管理者", new_admin_session_path %>
  <% end %>
</div>

<div>
  <% if request.fullpath != "/customers/sign_in" %>
    <p>会員の方は</p>
    <p><%= link_to "こちら", new_customer_session_path %> からログインを行って下さい。</p>
  <% end %>
</div>

