<% diys.each do |diy| %>
  <div>
    <%= link_to diy_path(diy.id) do %>
      <%= attachment_image_tag diy, :image, size: "100x100" %>
    <% end %>
    <p>タイトル: <%= diy.diy_name %></p>
    <p>説明: <%= diy.explanation %></p>
    <p>いいね：<i class="far fa-thumbs-up thumbs-up_blue"><%= diy.favorites.count %></i></p>
  </div>
  
<% end %>

