<div class="top">
  <% diys.each do |diy| %>
  <div class="top-diys">
    <div class="thumbnail">
      <%= link_to diy_path(diy.id) do %>
        <%= attachment_image_tag diy, :image, size: "240x180", class: "img" %>
      <% end %>
    </div>
    <div class="text-wrapper">
      <div class="name"><strong>【<%= diy.diy_name %>】</strong></div>
      <div class="genre">"<%= diy.genre.name %>"</div>
      <div class="explanation"><%= diy.explanation %></div>
      <div class="diy-left">
        <div>
          <i class="far fa-thumbs-up"><%= diy.favorites.count %></i>&emsp;
        </div>
        <div>
          <i class="far fa-comment-dots"><%= diy.diy_comments.count %></i>&emsp;
        </div>
        <div>
          <%= diy.created_at.strftime('%Y年%m月%d日') %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
