<div class="diy-upload">
  <h1>投稿フォーム</h1>
  <div class="diy-upload">
  <%= form_with model: @diy, local:true do |f| %>
    <div>
      <%= f.label :"画像" %>
    </div> 
    <div>
      <%= f.attachment_field :image %>
    </div>
    <div>
      <%= f.label :"タイトル" %>
    </div>  
    <div>
      <%= f.text_field :diy_name %>
    </div>
    <div>
      <%= f.label :"説明" %>
    </div>  
    <div>
      <%= f.text_area :explanation, size: "70x30" %>
    </div>
    <div>
      <%= f.label :"ジャンル" %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "-- 選択してくたさい --"} %>
    </div>
    <%= f.submit '投稿' %>
  <% end %>
  </div>
</div>