<%= attachment_image_tag @diy, :image, size: "300x300" %>
  <p>ニックネーム：<%= @diy.customer.nickname %></p>
  <p>タイトル：<%= @diy.diy_name %></p>
  <p>説明：<%= @diy.explanation %></p>
  <p>投稿日時：<%= @diy.created_at.strftime('%Y/%m/%d') %></p>
  <% if @diy.customer == current_customer %>
    <%= link_to "削除", diy_path(@diy), method: :delete %>
  <% end %>

  <div class="favorite-btn">
    <%= render "public/favorites/favorite-btn", diy: @diy %>
  </div>
  
  <table class="diy_comments">
    <%= render 'public/diy_comments/index', diy: @diy %>
  </table>
  
  <%= form_with model:[@diy,@diy_comment], url: diy_diy_comments_path(@diy) do |f| %>
    <%= f.text_area :comment, size:"90x5" %>
    <%= f.submit '送信'%>
  <% end %>