<table>
  <thead>
    <tr>
      <th></th>
      <th>ニックネーム</th>
      <th>タイトル</th>
      <th>説明</th>
      <th>投稿日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag @diy, :image, size: "300x300" %></td>
      <td>
        <%= link_to customer_path(@diy.customer) do %>
          <%= @diy.customer.nickname %>
        <% end %>
      </td>
      <td><%= @diy.diy_name %></td>
      <td><%= @diy.explanation %></td>
      <td><%= @diy.created_at.strftime('%Y/%m/%d') %></td>
      <td>
        <% if @diy.customer == current_customer %>
          <%= link_to "削除", diy_path(@diy), method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

  <div class="favorite-btn">
    <%= render "public/favorites/favorite-btn", diy: @diy %>
  </div>

  <table class="diy_comments">
    <%= render 'public/diy_comments/index', diy: @diy %>
  </table>

  <%= form_with model:[@diy,@diy_comment], url: diy_diy_comments_path(@diy) do |f| %>
    <%= f.text_area :comment, size:"90x5" %>
    <%= f.submit '送信'%>
  <% end %>